/.idea
*.sql
/node_modules
/public/hot
/public/css
/public/js
/public/fonts
/public/img
/public/storage
/public/educational_material
/public/pdf
/storage/*.key
/public/vendor/laravel-filemanager
/storage/medialibrary
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/files
public/photos
