@font-face {
  font-family: 'Calibri';
  src: local('Calibri Bold'), local('Calibri-Bold'),
      url('./../fonts/Calibri-Bold.woff2') format('woff2'),
      url('./../fonts/Calibri-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: local('Calibri'),
      url('./../fonts/Calibri.woff2') format('woff2'),
      url('./../fonts/Calibri.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: local('Calibri Italic'), local('Calibri-Italic'),
      url('./../fonts/Calibri-Italic.woff2') format('woff2'),
      url('./../fonts/Calibri-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: $primary;
  color: $white;
}
::-moz-selection {
  background-color: $primary;
  color: $white;
}

p:last-child {
  margin-bottom: 0;
}

a,
button {
  transition: 300ms ease;
}

a:hover {
  text-decoration: none;
}

.title {
  color: $color-08;
  font-family: $headings-font-family;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: rem(0.67px);
  margin: 0;
  text-transform: uppercase;

  .material-icons {
    color: $primary;
    font-size: rem(22px);
    margin-right: rem(5px);
    vertical-align: middle;
  }
}

.title--xs {
  font-size: rem(14px);
  letter-spacing: rem(0.88px);
}

.title--s {
  font-size: 1rem;
  letter-spacing: rem(0.67px);
}

.title--m {
  font-size: rem(18px);
  letter-spacing: rem(0.75px);
}

.title--l {
  font-size: rem(20px);
  letter-spacing: rem(0.5px);
  line-height: 1.2;
}

.title--xl {
  font-size: rem(22px);
  font-weight: 400;
  letter-spacing: rem(0.92px);
}

.title--border {
  padding-left: 25px;
  position: relative;

  &:before {
    background-color: $primary;
    border-radius: 2px;
    bottom: 7px;
    content: '';
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
  }
}

.label {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text-decoration-underline {
  text-decoration: underline;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.grecaptcha-badge {
  visibility: hidden;
}
